<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>navbar</title>
    <link rel="stylesheet" type="text/css" media="all"  th:href="@{/css/style.css}" /> 
    <script
    src="https://kit.fontawesome.com/c4254e24a8.js"></script>
</head>
<body>

    <div class="container">
        <nav>
          <a th:href="@{/}">
              <img th:src="@{/images/logo.png}" class="logo" alt="stack_it_logo"/>
          </a>
          <ul id="sidemenu">
              <li><a th:href="@{/}">Home</a></li>
              <li><a th:href="@{/jobposts}">Job Posts</a></li>
              <li><a th:href="@{/company}">Company</a></li>
              <!-- <li><a th:href="@{/resume}">Resume</a></li>
              <li><a th:href="@{/my/jobposts}">Bookmarked JobPosts</a></li>
              <li><a th:href="@{/my/helpfulVotes}">Helpful Reviews</a></li> -->
              <li><a th:href="@{/chat}">Chatbot</a></li>

              <th:block th:if="${loggedInUser != null}">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/account}">Account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/logout}">Logout</a>
                </li>
              </th:block>
              <th:block th:if="${loggedInUser == null}">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/login}">Login</a>
                </li>
              </th:block>
            <i class="fas fa-times" onclick="closemenu()"></i>
          </ul>
          <i class="fas fa-bars" onclick="openmenu()"></i>
        </nav>
    </div>
</body>
</html>
