<!DOCTYPE html>
<html lang="en"
  xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>My Account</title>
        <link rel="stylesheet" type="text/css" media="all"  th:href="@{/css/style.css}" /> 
    <script
    src="https://kit.fontawesome.com/c4254e24a8.js"></script>
</head>
<body>
    <div th:insert="~{common/navbar}"></div>
    <h1>Account: Change Personal Info</h1>
    <a th:href="@{/account}">Change Preference</a>
    </br>
    <a th:href="@{/}">Customer Service</a>
    </br>
    <a th:href="@{/account/delete}">Delete Account</a>
    
<form th:action="@{/account/save}" th:object="${user}" method="post" style="width: 50%; margin-left: auto; margin-right: auto;">
    <div th:if="${errorMessage}">
        <p th:text="${errorMessage}"></p>
    </div>
    <div th:if="${successMessage}">
        <p th:text="${successMessage}"></p>
    </div>

    <label for="nickname">Nickname:</label>
    <input type="text" id="nickname" th:field="*{nickname}" required>

    <label for="email">Email:</label>
    <input type="email" id="email" th:field="*{email}" required>

    <label for="oldPassword">Old Password:</label>
    <input type="password" id="oldPassword" th:field="*{oldPassword}" required>

    <label for="newPassword">New Password:</label>
    <input type="password" id="newPassword" th:field="*{newPassword}" required>

    <label for="confirmPassword">Confirm Password:</label>
    <input type="password" id="confirmPassword" th:field="*{confirmPassword}" required>

    <button type="submit" class="btn btn-primary">Update</button>
</form>

</body>
</html>