<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Stack IT</title>
    <link rel="stylesheet" type="text/css" media="all"  th:href="@{/css/style.css}" /> 
    <script
    src="https://kit.fontawesome.com/c4254e24a8.js"
    crossorigin="anonymous"></script>

</head>
<body>
    <!-- <h1><a th:href="@{/}">Index</a></h1>
    <div th:insert="~{common/navbar}"></div>
    <ul>
        <li><a th:href="@{/jobposts}">Job Posts (채용 공고)</a></li>
        <li><a th:href="@{/company}">Company (기업)</a></li>
        <li><a th:href="@{/resume}">Resume (이력서)</a></li>
        <li><a th:href="@{/my/jobposts}">Bookmarked JobPosts (즐겨찾기한 채용공고)</a></li>
        <li><a th:href="@{/my/helpfulVotes}">Helpful Reviews (추천한 리뷰)</a></li>
        <li><a th:href="@{/chat}">Chatbot</a></li>
    </ul> -->

    <div id="header">
        <div class="container">
          <nav>
            <a th:href="@{/}">
                <img th:src="@{/images/logo.png}" class="logo" alt="stack_it_logo"/>
            </a>
            <ul id="sidemenu">
                <li><a th:href="@{/}">Home</a></li>
                <li><a th:href="@{/jobposts}">Job Posts</a></li>
                <li><a th:href="@{/company}">Company</a></li>
                <!-- <li><a th:href="@{/resume}">Resume</a></li>
                <li><a th:href="@{/my/jobposts}">Bookmarked JobPosts</a></li>
                <li><a th:href="@{/my/helpfulVotes}">Helpful Reviews</a></li> -->
                <li><a th:href="@{/chat}">Chatbot</a></li>

                <th:block th:if="${loggedInUser != null}">
                  <li class="nav-item">
                      <a class="nav-link active" aria-current="page" th:href="@{/account}">Account</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link active" aria-current="page" th:href="@{/logout}">Logout</a>
                  </li>
                </th:block>
                <th:block th:if="${loggedInUser == null}">
                  <li class="nav-item">
                      <a class="nav-link active" aria-current="page" th:href="@{/login}">Login</a>
                  </li>
                </th:block>
              <i class="fas fa-times" onclick="closemenu()"></i>
            </ul>
            <i class="fas fa-bars" onclick="openmenu()"></i>
          </nav>
          <div class="header-text">
            <p>STACK IT</p>
            <h1>
              Build your <span>Career</span><br />
              in <span>Software Engineering</span> field
            </h1>
          </div>
        </div>
      </div>

 <!-- ---------About -->

 <div id="about">
    <div class="container">
      <div class="row">
        <div class="about-col-1">
          <img src="https://assets-global.website-files.com/6344c9cef89d6f2270a38908/63f91940bd93ee3f919f577f_01%20How%20To%20Become%20A%20Software%20Engineer%20-%20Software%20Engineering.webp" alt="software engineering" />
        </div>
        <div class="about-col-2">
          <h1 class="sub-title">Software Engineering</h1>
          <p>
             There are many different fields in software engineering such as frontend, backend, data analyst, and so on.
          </p>

          <div class="tab-titles">
            <p class="tab-links active-link" onclick="opentab('skills')">
              How to prepare your skills
            </p>
            <p class="tab-links" onclick="opentab('experience')">
              Experience
            </p>
            <p class="tab-links" onclick="opentab('education')">Education</p>
          </div>
          <div class="tab-contents active-tab" id="skills">
            <ul>
              <li><span>Programming Languages</span><br />Java, Python, C++, etc</li>
              <li><span>Frameworks</span><br />Django, Flask, Spring Boot, etc</li>
              <li><span>IDE</span><br />Intelli J, VS Code, etc</li>
            </ul>
          </div>
          <div class="tab-contents" id="experience">
            <ul>
              <li><span>Experience</span><br />Entering a SW field is difficult but once you enter it'll be smooth sailing afterwards.</li>
            </ul>
          </div>
          <div class="tab-contents" id="education">
            <ul>
              <li><span>Do most places prioritize the applicant's education?</span><br />It depends on the job's software engineering field. Most machine learning field look for higher educations, such as master's degree. Fortunately, most other
              fields do not prioritize education and will hire as long as the applicant has great portfolio</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- -----services--- -->
  <!-- <div id="services">
    <div class="container">
      <h1 class="sub-title">Random Facts</h1>
      <div class="services-list">
        <div>
          <i class="fa-solid fa-crow"></i>
          <h2>Sleep</h2>
          <p>
            Some birds sleep with one eye open.
          </p>
          <a href="#">Learn more</a>
        </div>
        <div>
          <i class="fa-solid fa-crow"></i>
          <h2>Penguins</h2>
          <p>
            Penguins can jump so high as 9 feet!
          </p>
          <a href="#">Learn more</a>
        </div>
        <div>
          <i class="fa-solid fa-crow"></i>
          <h2>Bird Population</h2>
          <p>
            Bird extinction rates are increasing 
          </p>
          <a href="#">Learn more</a>
        </div>
      </div>
    </div>
  </div> -->
  <!-- ------------------birds_of_prey----- -->
  <!-- <div id="portfolio">
    <div class="container">
      <h1 class="sub-title">Birds of Prey</h1>
      <div class="work-list">
        <div class="work">
          <img src="https://upload.wikimedia.org/wikipedia/commons/1/1e/Bald_Eagle_Portrait.jpg" alt="bald_eagle" />
          <div class="layer">
            <h3>Bald Eagle</h3>
            <p>
              The bald eagle is an opportunistic feeder which subsists mainly on fish, which it swoops down upon and snatches from the water with its talons. It builds the largest nest of any North American bird and the largest tree nests ever recorded for any animal species, up to 4 m (13 ft) deep, 2.5 m (8.2 ft) wide, and 1 metric ton (1.1 short tons) in weight.
            </p>
            <a href="https://en.wikipedia.org/wiki/Bald_eagle"><i class="fas fa-external-link-alt"></i></a>
          </div>
        </div>
        <div class="work">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/23/Bubo_virginianus_06.jpg/800px-Bubo_virginianus_06.jpg" alt="great_horned_owl" />
          <div class="layer">
            <h3>Great Horned Owl</h3>
            <p>
              The great horned owl (Bubo virginianus), also known as the tiger owl (originally derived from early naturalists' description as the "winged tiger" or "tiger of the air"), or the hoot owl, is a large owl native to the Americas. It is an extremely adaptable bird with a vast range and is the most widely distributed true owl in the Americas. Its primary diet is rabbits and hares, rats and mice, and voles, although it freely hunts any animal it can overtake, including rodents and other small mammals, larger mid-sized mammals, birds, reptiles, amphibians, and invertebrates.
            </p>
            <a href="https://en.wikipedia.org/wiki/Great_horned_owl"><i class="fas fa-external-link-alt"></i></a>
          </div>
        </div>
        <div class="work">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9d/Coragyps-atratus-001.jpg/800px-Coragyps-atratus-001.jpg" alt="vulture" />
          <div class="layer">
            <h3>Vulture</h3>
            <p>
              A vulture is a bird of prey that scavenges on carrion. There are 23 extant species of vulture (including Condors). Old World vultures include 16 living species native to Europe, Africa, and Asia; New World vultures are restricted to North and South America and consist of seven identified species, all belonging to the Cathartidae family. A particular characteristic of many vultures is a bald, unfeathered head. This bare skin is thought to keep the head clean when feeding, and also plays an important role in thermoregulation.
            </p>
            <a href="#"><i class="fas fa-external-link-alt"></i></a>
          </div>
        </div>
      </div>
      <a href="#" class="btn">See more</a>
    </div>
  </div> -->
  <!-- ----------contact----------- -->
  <div id="contact">
    <div class="container">
      <div class="row">
        <div class="contact-left">
          <h1 class="sub-title">Contact Me</h1>
          <p>
            <a href="#"><i class="fas fa-paper-plane"></i></a
            >contact@example.com
          </p>
          <p>
            <a href="#"><i class="fas fa-phone-square-alt"></i></a>01012341234
          </p>
          <div class="social-icons">
            <a href="https://twitter.com"><i class="fab fa-twitter"></i></a>
            <a href=""><i class="fab fa-instagram"></i></a>
            <a href=""><i class="fab fa-facebook"></i></a>
            <a href=""><i class="fab fa-linkedin"></i></a>
          </div>
          <a href="" download class="btn btn2">Download CV</a>
        </div>
        <div class="contact-right">
          <form>
            <input type="text" name="name" placeholder="Your Name" requried />
            <input
              type="email"
              name="email"
              placeholder="Your Email"
              required
            />
            <textarea
              name="Message"
              rows="6"
              placeholder="Your Message"
            ></textarea>
            <button type="submit" class="btn btn2">Submit</button>
          </form>
        </div>
      </div>
    </div>
    <div class="copyright">
      <p>some copyright claim<i class="fas fa-heart"></i></p>
    </div>
  </div>

  <button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fa-solid fa-chevron-up"></i></button>

  <!-- <script>
    var tablinks = document.getElementsByClassName("tab-links");
    var tabcontents = document.getElementsByClassName("tab-contents");

    function opentab(tabname) {
      for (tablink of tablinks) {
        tablink.classList.remove("active-link");
      }
      for (tabcontent of tabcontents) {
        tabcontent.classList.remove("active-tab");
      }
      event.currentTarget.classList.add("active-link");
      document.getElementById(tabname).classList.add("active-tab");
    }
  </script>
  <script>
    var sidemenu = document.getElementById("sidemenu");
    function openmenu() {
      sidemenu.style.right = "0";
    }
    function closemenu() {
      sidemenu.style.right = "-200";
    }
  </script>
  <script>
    let mybutton = document.getElementById("myBtn");
    window.onscroll = function () {
      scrollFunction();
    };

    function scrollFunction() {
      if (
        document.body.scrollTop > 20 ||
        document.documentElement.scrollTop > 20
      ) {
        mybutton.style.display = "block";
      } else {
        mybutton.style.display = "none";
      }
    }
    function topFunction() {
      document.body.scrollTop = 0;
      document.documentElement.scrollTop = 0;
    }
  </script> -->
  <script src="js/main.js"></script>

</body>
</html>
