<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Job Posts</title>
    <style>
    .row {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 1em;
    }

    .row label {
        margin-right: 1em;
    }
    </style>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" />
    <script src="https://kit.fontawesome.com/c4254e24a8.js"></script>
</head>
<body>
    <div th:insert="~{common/navbar}"></div>
    <h1>Job Posts</h1>
    <form id="searchForm" th:action="@{/jobposts/search}" method="post" class="container">
        <input type="text" name="query" placeholder="Title or Company Name">
        <input type="number" name="minSalary" placeholder="Minimum Salary">
        <input type="number" name="maxSalary" placeholder="Max Salary">
        
        <div class="row">
            <label for="seniority">Seniority:</label>
            <label for="intern"><input type="checkbox" id="intern" name="seniority" value="INTERNSHIP">Internship</label>
            <label for="entry"><input type="checkbox" id="entry" name="seniority" value="ENTRY">Entry</label>
            <label for="junior"><input type="checkbox" id="junior" name="seniority" value="JUNIOR">Junior</label>
            <label for="mid_level"><input type="checkbox" id="mid_level" name="seniority" value="MID_SENIOR">Mid Level</label>
            <label for="senior"><input type="checkbox" id="senior" name="seniority" value="SENIOR">Senior</label>
        </div>
        
        <div class="row">
            <label for="employmentType">Employment Type:</label>
            <label for="full_time"><input type="checkbox" id="full_time" name="employmentType" value="FULLTIME">Full Time</label>
            <label for="part_time"><input type="checkbox" id="part_time" name="employmentType" value="PARTTIME">Part Time</label>
            <label for="contract"><input type="checkbox" id="contract" name="employmentType" value="CONTRACT">Contract</label>
            <label for="intern"><input type="checkbox" id="intern" name="employmentType" value="INTERNSHIP">Internship</label>
        </div>
        
        <div class="row">
            <label for="swFields">Software Fields:</label>
            <label for="frontend"><input type="checkbox" id="frontend" name="swFields" value="FRONTEND">Frontend</label>
            <label for="backend"><input type="checkbox" id="backend" name="swFields" value="BACKEND">Backend</label>
            <label for="fullstack"><input type="checkbox" id="fullstack" name="swFields" value="FULLSTACK">Fullstack</label>
            <label for="data_engineer"><input type="checkbox" id="data_engineer" name="swFields" value="DATA_ENGINEER">Data Engineer</label>
            <label for="data_science"><input type="checkbox" id="data_science" name="swFields" value="DATA_SCIENCE">Data Science</label>
            <label for="devops"><input type="checkbox" id="devops" name="swFields" value="DEVOPS">DevOps</label>
            <label for="cybersecurity"><input type="checkbox" id="cybersecurity" name="swFields" value="CYBERSECURITY">Cybersecurity</label>
            <label for="game_developer"><input type="checkbox" id="game_developer" name="swFields" value="GAME_DEVELOPER">Game Developmet</label>
        </div>
        
        
        <input type="submit" value="Search">
    </form>

    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Company</th>
                <th>Location</th>
                <th>Salary</th>
                <th>Seniority</th>
                <th>Employment Type</th>
                <th>Created Date</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="jobPost : ${jobPosts}">
                <td><a th:href="@{/jobposts/{id}(id=${jobPost.id})}" th:text="${jobPost.title}"></a></td>
                <td th:text="${jobPost.company.name}"></td>
                <td th:text="${jobPost.location}"></td>
                <td th:text="${jobPost.salary}"></td>
                <td th:text="${jobPost.seniority}"></td>
                <td th:text="${jobPost.employmentType}"></td>
                <td th:text="${#dates.format(jobPost.createdDate, 'dd-MM-yyyy')}"></td>
                <td th:if="${loggedInUser!=null}">
                    <form th:action="@{/jobposts/{id}/bookmark(id=${jobPost.id})}" method="post">
                        <input type="submit" th:value="${loggedInUser.hasBookmarked(jobPost) ? 'Remove Bookmark' : 'Bookmark'}">
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</body>

<script>
// When a checkbox is clicked, save its checked state to Local Storage
document.querySelectorAll('input[type="checkbox"]').forEach(function(checkbox) {
    checkbox.addEventListener('change', function(event) {
        localStorage.setItem(event.target.id, event.target.checked);
    });
});

// When the page loads, check Local Storage for any saved checkbox states and apply them
window.addEventListener('load', function() {
    document.querySelectorAll('input[type="checkbox"]').forEach(function(checkbox) {
        var checked = localStorage.getItem(checkbox.id);
        if (checked !== null) {
            checkbox.checked = checked === 'true';
        }
    });
});
</script>
</html>