<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Head contents... -->
    <title>Resumes</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" />
    <script src="https://kit.fontawesome.com/c4254e24a8.js"></script>
</head>
<body>
    <div th:insert="~{common/navbar}"></div>
    <h1>Resume (이력서)</h1>

    <!-- get method link button for new resume (/resume/new) -->
    <a th:href="@{/resume/new}">New Resume (새 이력서)</a>

    <ul class="container">
        <li th:each="resume : ${resumes}">
            <a th:href="@{/resume/{id}(id=${resume.id})}" th:text="${resume.positionName}"></a>
            <!-- create date -->
            <p th:text="${resume.dateCreated}"></p>
            <!-- Other resume details... -->
            <!-- Edit button -->
            <a th:href="@{/resume/{id}/edit(id=${resume.id})}">Edit</a>

            <!-- Delete button -->
            <form th:action="@{/resume/{id}/delete(id=${resume.id})}" method="post">
                <input type="submit" class="btn btn2" value="Delete">
            </form>
        </li>
    </ul>
</body>
</html>