<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Head contents... -->
    <title>Resume Details</title>
</head>
<body>
    <h1>Resume Details</h1>

    <div th:insert="~{common/navbar}"></div>

    <!-- resume for position name -->
    <h2 th:text="${resume.positionName}"></h2>
    <!-- resume.selfIntroduction -->
    <p th:text="${resume.selfIntroduction}"></p>
    <h2>Educations</h2>
    <ul>
        <li th:each="education : ${resume.educations}">
            <!-- Replace with actual Education properties -->
            <p th:text="${education.schoolName}"></p>
            <p th:text="${education.degreeName}"></p>
            <p th:text="${education.startYear}"></p>
            <p th:text="${education.endYear}"></p>
            <p th:text="${education.grades}"></p>

        </li>
    </ul>

    <h2>Work Experiences</h2>
    <ul>
        <li th:each="workExperience : ${resume.workExperiences}">
            <!-- Replace with actual WorkExperience properties -->
            <p th:text="${workExperience.companyName}"></p>
            <p th:text="${workExperience.position}"></p>
            <p th:text="${workExperience.description}"></p>
            <p th:text="${workExperience.years}"></p>
        </li>
    </ul>

    <h2>Awards</h2>
    <ul>
        <li th:each="award : ${resume.awards}">
            <!-- Replace with actual Award properties -->
            <p th:text="${award.awardName}"></p>
            <p th:text="${award.yearReceived}"></p>
        </li>
    </ul>

    <h2>Certificates</h2>
    <ul>
        <li th:each="certificate : ${resume.certificates}">
            <!-- Replace with actual Certificate properties -->
            <p th:text="${certificate.certificateName}"></p>
            <p th:text="${certificate.yearObtained}"></p>
        </li>
    </ul>

    <h2>Skills</h2>
    <ul>
        <li th:each="skill : ${resume.skills}">
            <!-- Replace with actual Skill properties -->
            <p th:text="${skill.skillName}"></p>
        </li>
    </ul>

    <h2>Projects</h2>
    <ul>
        <li th:each="project : ${resume.projects}">
            <!-- Replace with actual Project properties -->
            <p th:text="${project.projectTitle}"></p>
            <p th:text="${project.description}"></p>
            <p th:text="${project.years}"></p>
            <p th:text="${project.stacksUsed}"></p>

        </li>
    </ul>

</body>
</html>